{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.9"
    },
    "import/resolver": {
      "node": {
        "paths": ["./src", "./src/js"]
      }
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "array-bracket-newline": ["error", { "multiline": true, "minItems": 3 }],
    "array-element-newline": ["error", "consistent"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": false }],
    "curly": ["error", "all"],
    "func-style": ["error", "expression"],
    "max-depth": ["error", 2],
    "max-len": ["error", { "code": 120 }],
    "max-lines": ["error", {
      "max": 190,
      "skipBlankLines": true,
      "skipComments": true
    }],
    "max-lines-per-function": ["error", {
      "max": 170,
      "skipBlankLines": true,
      "skipComments": true,
      "IIFEs": true
    }],
    "max-params": "error",
    "no-async-promise-executor": "error",
    "no-implicit-coercion": ["error", {
      "allow": ["!!"]
    }],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxBOF": 0, "maxEOF":0 }],
    "no-negated-condition": "error",
    "no-self-assign": ["error", {"props": true}],
    "no-undefined": "error",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" }
    ],
    "prefer-object-spread": "error",
    "wrap-regex": "error",

    "import/exports-last": "warn",
    "import/prefer-default-export": "warn",

    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/no-static-element-interactions": "off",

    "react/prop-types": "off",
    "react/jsx-sort-props": "error",
    "react/jsx-props-no-spreading": "off",
    "react/no-direct-mutation-state": "error",
    "react/no-unsafe": "error"
  }
}
