// -----------------------------------------------------------------------------
//  Objects > Pagination
// -----------------------------------------------------------------------------

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
  margin-top: 40px;
  padding: 0;
  text-align: center;
}

.pagination__page-number {
  border: 2px solid $c-pagination-page-number;
  box-sizing: content-box;
  color: $c-pagination-page-number;
  display: inline-block;
  line-height: 35px;
  margin: 0 -1px;
  min-width: 35px;
  text-decoration: none;

  &.pagination__active-page,
  &:hover {
    background-color: $c-pagination-page-number;
    color: $c-pagination-page-number-active;
    font-weight: bold;
  }
}

.pagination__ellipsis {
  color: $c-pagination-ellipsis;
  line-height: 40px;
  margin: 0 6px;
}
