// -----------------------------------------------------------------------------
//  Settings > Colors
// -----------------------------------------------------------------------------

$c-white: #fff;
$c-black: #000;
$c-transparent: transparent;
$c-light-yellow: #eee5b5;
$c-yellow: #dfcf77;
$c-dark-yellow: #d9cd8d;
$c-dark-gray: #0b0b10;
$c-gray: #0d0c11;
$c-light-gray: #54503e;
$c-light-gray-2: #dcdcdc;
$c-graphite: #818181;
