// -----------------------------------------------------------------------------
//  Settings > Typography
// -----------------------------------------------------------------------------
//  01. General
//  02. Font Family
//  03. Font size
// -----------------------------------------------------------------------------

//  01. General
$font-inherit: inherit;

// 02. Font Family
$font-family-default: "Arial", "Helvetica", sans-serif;

//  03. Font size
$font-size-default: 19px;
